%nav_block{
    background: white;
    width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    transition: 0.8s;
}

$green: #099;
$aqua:#96FEFF;
$white: white;